---
const modalId = "modalNombre";
const titleId = "modalTitleId";
---
<div class="modal fade" id={modalId} tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  role="dialog" aria-labelledby={titleId} aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id={titleId}>Jugador(a)</h5>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <form action="javascript:void(0);" method="post" onsubmit="hangmanApp.aJugar();">
            <input required type="text" class="form-control" name="txtNombre" id="txtNombre" placeholder="" />
            <label for="formId1">Ingresa tu nombre</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          onclick="window.location='index.html'">Cancelar</button>
        <button type="submit" class="btn btn-primary">¡Jugar!</button>
      </div>
      </form>
    </div>
  </div>
</div>