table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
  }
  
  th {
    background-color: #474545;
  }
  
  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  .checkbox{
    position: relative;
    margin-bottom: 20%;
  }