/* AQUI LO DE CREAR SALAS */
body {
  width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}
.salas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .palabras{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .listas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content{
    margin: 50px 0px 100px 0px;
    background-color: rgb(223, 215, 215);
    border-radius: 5%;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
    
    h1 {
      text-align: center;
    }
    
    .form-label {
      display: block;
      margin-top: 10px;
    }
    
    .form-input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    
    .checkbox-input {
      margin-top: 8px;
    }
    
    .form-button {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
    }
    
    .form-button:hover {
      background-color: #45a049;
    }
    
    .select-input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    
    .form-textarea {
      resize: vertical;
    }
    
    
    /* .word-list {
      display: none;
    } */
  
  
  .visible {
    display: block;
  }

  .regresar {
    color: black;
    margin: 20px 0px 0px 20px;
  }

  .regresar a{
    width: 100%;
    text-decoration: none;
  }
  