<footer id="footer" class="bg-dark-blue text-white pt-5 pb-4" style="font-size: 14px;">
  <div class="footer-top">
    <div class="container">
      <div class="row g-4">
        <!-- Footer Info -->
        <div class="col-lg-4 col-md-6">
          <div class="footer-info text-center p-4 mb-4" style="background: #010246; border-top: 4px solid #1acc8d;">
            <h3 class="fs-2 fw-bold mb-3">Hangman Game Project</h3>
            <p class="mb-3 font-montserrat"><em>Proyecto presentado como prototipo de desarrollo de software para la DGETI.</em></p>
            <p class="mb-2">
              CBTis No. 150 <br>
              Ocotlán de Morelos, Oax. México<br><br>
              <strong>Teléfono:</strong> 951 57 106 33<br>
              <strong>Email:</strong> hangmangame@cbtis150.edu.mx<br>
            </p>
            <div class="social-links d-flex justify-content-center mt-3">
              <a href="#" class="text-white d-flex align-items-center justify-content-center rounded-circle mx-1 hover-bg-success" style="width: 36px; height: 36px; font-size: 18px;">
                <i class="bx bxl-twitter"></i>
              </a>
              <a href="https://facebook.com/cbtis150cmb" class="text-white d-flex align-items-center justify-content-center rounded-circle mx-1 hover-bg-success" style="width: 36px; height: 36px; font-size: 18px;">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="text-white d-flex align-items-center justify-content-center rounded-circle mx-1 hover-bg-success" style="width: 36px; height: 36px; font-size: 18px;">
                <i class="bx bxl-instagram"></i>
              </a>
              <a href="#" class="text-white d-flex align-items-center justify-content-center rounded-circle mx-1 hover-bg-success" style="width: 36px; height: 36px; font-size: 18px;">
                <i class="bx bxl-skype"></i>
              </a>
              <a href="#" class="text-white d-flex align-items-center justify-content-center rounded-circle mx-1 hover-bg-success" style="width: 36px; height: 36px; font-size: 18px;">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Footer Links -->
        <div class="col-lg-2 col-md-6">
          <div class="footer-links mb-4">
            <h4 class="fs-5 fw-semibold mb-3 position-relative pb-2" style="border-bottom: 2px solid #61ebba;">Sitios de interés</h4>
            <ul class="list-unstyled">
              <li class="py-2 d-flex align-items-center">
                <i class="bx bx-chevron-right me-2" style="color: #61ebba;"></i>
                <a href="http://www.cbtis150.edu.mx" class="text-white text-decoration-none hover-text-light-green">Página oficial CBTis No. 150</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Empty Column -->
        <div class="col-lg-2 col-md-6">
          <!-- Additional links can be added here if needed -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright text-center py-3 mt-4" style="border-top: 1px solid #010479;">
      &copy; 2022 Copyright <strong>DGETI - CBTis No. 150 - Autores</strong>. Derechos de propiedad intelectual del proyecto de software en proceso de registro.
    </div>
    <div class="copyright text-center py-1">
      &copy; Copyright <strong>Bootslander</strong>. All Rights Reserved
    </div>
    <div class="credits text-center pt-2">
      Template diseñado por <a href="https://bootstrapmade.com/" class="text-white">BootstrapMade</a>
    </div>
  </div>
</footer>